<form action="/login" method="POST">
    <h2>Login</h2>

    <br>

    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Senha" required>
    <button type="submit">Entrar</button>

    <br>
    
    <p>Não tem conta? <a href="/register">Registrar</a></p>
</form>
