<main class="register-page">
    <header class="register-header">

    </header>
    <form action="/register" method="POST" class="register-form">
        <h2>Registrar</h2>
        <br>
        <input type="text" name="name" placeholder="Nome" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Registrar</button>
        <br>
        <p>Tem uma conta? <a href="/">Login</a></p>
    </form>
</main>
