/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo da página */
body {
    height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
}

.login-page, .register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do formulário */
.login-form, .register-form {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    height: fit-content;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

/* Inputs */
input, textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

/* Botão */
button {
    padding: 0.8rem;
    background-color: #1976D2;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 10rem;
}

.divUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
    width: 30vw;
}

button:hover {
    background-color: #001EC5;
}

/* Link de registro */
p {
    text-align: center;
    margin-top: 1rem;
}

p a {
    color: #001EC5;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    color: #1976D2;
}